{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "extends": ["jason/react", "prettier", "plugin:flowtype/recommended"],
  "globals": {
    "__DEV__": false,
    "performance": false
  },
  "rules": {
    "flowtype/generic-spacing": "off",
    "flowtype/use-flow-type": "error"
  },
  "overrides": [
    {
      "files": ["**/__tests__/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
