{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "babel-plugin-transform-react-jsx",
    "babel-plugin-transform-class-properties"
  ]
}
